<?xml version="1.0" encoding="UTF-8"?>

<!-- All possible settings that can be used in scraper -->
<settings>
    <!-- Various headers used in HTTP(S) requests -->
    <headers>
        <header name="User-Agent">Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0</header>
    </headers>
</settings>